@import "global.scss";

.intro {
  min-height: 100vh;
  position: relative;

  .containerFluid {
    height: 100vh;
    .row {
      height: 100vh;
      display: flex;
    }
  }

  .introLeft {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 50px;

    @include mobile {
      margin-top: 30px;
      text-align: center;
      padding: 0;
      padding: 20px;
    }

    .introLeftContainer {
      display: flex;
      flex-direction: column;

      .introHeading {
        font-size: 30px;
        font-weight: 300;
      }

      h1 {
        font-size: 50px;
        letter-spacing: 1px;
        margin: 20px 0;
      }

      .introTitle {
        height: 45px;
        overflow: hidden;
        display: flex;
        align-items: center;

        @include mobile {
          justify-content: center;
        }

        .introTitleWrapper {
          height: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .introTitleItem {
            font-size: 30px;
            color: $mainColor;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }

      .introDesc {
        color: #333;
        line-height: 1.7;
      }
    }
  }

  .introRight {
    position: relative;
    flex: 1;
    @include mobile {
      display: none;
    }
    .introBg {
      clip-path: polygon(
        100% 0%,
        100% 51%,
        100% 100%,
        25% 100%,
        0% 50%,
        25% 0%
      );
      background-color: $mainColor;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    img {
      width: 100%;
      position: relative;
      z-index: 1;
    }
  }
}
