@import "global.scss";
.projects {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .projectsTitle {
    font-size: 50px;
    font-weight: 600;

    @include mobile {
      font-size: 30px;
    }
  }

  .projectsDesc {
    margin: 20px 0px;
  }

  .projectsLink {
    text-decoration: none;
    background-color: $buttonColor;
    box-shadow: 0 20px 20px rgb(13 121 221 / 19%);
    padding: 15px 50px;
    color: white;
    border-radius: 5px;
  }
}
